.card-noticia {
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  color: #000;
  -webkit-box-shadow: 0 0 24px -4px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 24px -4px rgba(255,255,255,1);
  box-shadow: 0 0 24px -4px rgba(255,255,255,1);
}

.card-noticia .imagem {
  background-position: center;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0 ;
}

.card-noticia h2 {
  padding: 10px 0;
}

.card-noticia p {
  padding: 10px 0;
}

.card-noticia .publicado-em {
  padding: 10px 10px 30px 10px;
}

.card-noticia .popular {
  border-radius: 10px 10px 0 0 ;
  position: absolute;
  color: rgb(var(--foreground-rgb));
  font-size: 30px;
  background: #FCCD07D6;
  width: 100%;
  height: 100%;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}