.noticia .imagem {
  background-position: center;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0 ;
  margin-bottom: 40px;
}

.noticia .publicado-em {
  margin-bottom: 20px;
}

.noticia .titulo {
  margin-bottom: 10px;
}

.noticia .texto {
  margin-bottom: 80px;
}